/* 

RESET - Andy Bell
https://andy-bell.co.uk/a-more-modern-css-reset/

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements */
ul, 
ol {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* || VARIABLES */

:root {

  /* COLORS */

  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  /* FONTS */

  /* --fs-small: 0.8125rem; */
  --fs-regular: 0.9375rem;
  --fs-large: 2.5rem;
  --fs-xl: 3rem;

  --fw-regular: 400;
  --fw-med: 500;
  --fw-bold: 700;
}

/* || GERNEARL */

body {
  font-size: var(--fs-regular);
  font-family: "League Spartan", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* || BLOCKS */

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  --block-spacer: 2.5rem;
  --element-spacer: 1.5rem;

  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  max-width: 19rem;
}

.intro,
.reviews {
  text-align: center;
}

.reviews {
  margin-top: var(--block-spacer);
}

.testimonies figure {
  display: flex;
  column-gap: 2rem;
}

figcaption {
  align-self: center;
}

/* || ELEMENTS */

.intro__title {
  color: var(--very-dark-magenta);
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  letter-spacing: -1px;
}

.intro__paragraph {
  margin-top: var(--element-spacer);
  color: var(--dark-grayish-magenta);
}

.review {
  background-color: var(--light-grayish-magenta);
  margin-top: 1rem;
  color: var(--very-dark-magenta);
  font-weight: var(--fw-bold);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.review img {
  display: inline;
}

.testimony {
  background-color: var(--very-dark-magenta);
  padding: 2rem;
  color: var(--white);
  border-radius: 0.5rem;
  margin-top: var(--element-spacer);
  font-size: var(--fs-regular);
}

.testimonies img {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}

.name {
  font-weight: var(--fw-bold);
}

.testimonies figcaption::after {
  content: "Verified Buyer";
  display: block;
  color: var(--soft-pink);
  font-weight: var(--fw-regular);
}

blockquote {
  margin-top: var(--element-spacer);
} 

@media screen and (min-width: 64rem) {
  
  .container {
    max-width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* || INTRO */

  .intro {
    grid-area: 1/ 1/ span 1/ span 1;
    text-align: left;
    max-width: 23rem;
  }

  .intro__title {
    font-size: var(--fs-xl);
  }

  .intro__paragraph {
    font-size: var(--fs-regular);
  }

  /* || REVIEWS */

  .reviews {
    grid-area: 1/ 2/ span 1/ span 1;
    justify-self: flex-end;
  }

  .review {
    padding: 1rem 1.5rem;
    display: grid;
    grid-auto-flow: column;
  }

  .review p {
    margin-left: var(--element-spacer);
  }

  .review img {
    margin-right: 0.3rem;
    width: 0.75rem;
    height: 0.75rem;
    align-self: center;
  }

  .reviews .review:first-child {
    position: relative;
    right: 5rem;
  }

  .reviews .review:nth-child(2) {
    position: relative;
    right: 2.5rem;
  }

  /* || TESTIMONIES */

  .testimonies {
    grid-area: 2/ 1/ span 1/ span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
  }

  .testimony:nth-child(2) {
    position: relative;
    top: 1rem;
  }

  .testimony:last-child {
    position: relative;
    top: 2rem;
  }
}


/* 

Best practice to shrink the profile image? 

Why the flex-wrap: nowrap property prevents align-content from having an effect.

*/

